<button type="button" (click)="createPost()">Crear</button>

<div class="posts-container">
  <div *ngFor="let post of posts$ | async">
    <app-post [post]="post" class="post-container"></app-post>

  </div>
  </div>


  -is working?
  <br/>
  - {{ isWorkingState$ | async }}
  <br/>
   <mat-button-toggle-group name="isWorking">
    <mat-button-toggle [value]="true" (click)="toggleIsWorking(true)">true</mat-button-toggle>
    <mat-button-toggle [value]="false" (click)="toggleIsWorking(false)">false</mat-button-toggle>
  </mat-button-toggle-group>

