<form class="estilosFormulario" [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label class="listaErrores">User</mat-label>

    <input matInput type="text" required formControlName="user" [ngModel]="outdatePost.user" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="listaErrores">Content</mat-label>

    <input matInput type="text" required formControlName="content" [ngModel]="outdatePost.content"/>
  </mat-form-field>
  <ng-container *ngFor="let errors of contentErrors$ | async">
    <li class="listaErrores">{{ errors }}</li></ng-container
  >

  <button mat-raised-button>Enviar Formulario</button>
</form>
